.DS_Store
current_version/.DS_Store
older versions/.DS_Store
current_version/venv/
current_version/outputs/
current_version/datafiles/
current_version/__pycache__/
current_version/cellular_automata/__pycache__
current_version/cellular_automata/venv/
venv/