.DS_Store
current_version/.DS_Store
older versions/.DS_Store
current_version/venv/
current_version/outputs/
current_version/datafiles/
current_version/__pycache__/
current_version/cellular_automata/__pycache__
current_version/cellular_automata/venv/
venv/
rest/current_version/lenia/__pycache__
main/new_outputs/
main/__pycache__/
main/outputs/
lenia_ae_combined/APC/Additional Tests/exp1_100gen/elite_exp1.zip
lenia_ae_combined/APC/Additional Tests/exp2_100gen/elites_exp2.zip
lenia_ae_combined/APC/Additional Tests/exp3_100gen/elites_exp3.zip
lenia_ae_combined/APC/Additional Tests/exp4_100gen/elites_exp4.zip
lenia_ae_combined/APC/Additional Tests/exp5_100gen/elites_exp5.zip
lenia_ae_combined/APC/Additional Tests/exp6_100gen/elites_exp6.zip
lenia_ae_combined/APC/Additional Tests/exp11_500gen/elites_exp11.zip
lenia_ae_combined/1000e_10April_Combined_Full_Pipeline_Evo_Lenia_Autoencoder_with_variation_over_time.ipynb
lenia_ae_combined/APC/Additional Tests/exp11_500gen/lenia500gen_exp11.ipynb
lenia_ae_combined/APC/AEVoT/2AE_VOT_P10_G500_M0.02_ALIVE_CELL_THRESHOLD0.1_EVERY_10TH_FRAMES/2AE_VOT_P10_G500_M0.02_ALIVE_CELL_THRESHOLD0.1_EVERY_10TH_FRAMES.ipynb
lenia_ae_combined/1000e_10April_Combined_Full_Pipeline_Evo_Lenia_Autoencoder_with_variation_over_time.ipynb
lenia_ae_combined/1000e_10April_Combined_Full_Pipeline_Evo_Lenia_Autoencoder_with_variation_over_time.ipynb
